td,
th {
  border: 1px solid black;
}

table {
  width: 500px;
  text-align: center;
  margin: 40px auto;
}

td,
th {
  padding: 2%;
}

tr:nth-child(even) {
  background-color: rgb(241, 144, 160);
}

span:hover {
  cursor: grabbing;
}
