
<h1 style="text-align: center; margin-top:150px;">Data Sorted-By:{{sortingType}}</h1>
<table>
    <tr>
        <th>
            <span (click) = "sortByName(true)">↑</span>
            Name
            <span (click) = "sortByName(false)">↓</span>
            
        </th>
        <th>
            <span (click) = "sortByDob(true)">↑</span>
             Dob
            <span (click) = "sortByDob(false)">↓</span>
           
        </th>
    </tr>
    <tr *ngFor="let d of data">
        <td>
            {{d.name}}
        </td>
        <td>
            {{d.dob}}
        </td>
    </tr>
</table>